@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }

    .mob-tel-list-link {
         font-size: 36px;
    }

    .mob-social-list {
        gap: 56px;
    }

    .studio-title .title {
        font-size: 36px;
    }


}


@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    /* header */

    .head-container {}

    .studio-list {
        display: flex;
    }

    .address-list {
        display: block;
    }

    /* menu mob-tab */

    .menu-open-btn {
        display: none;
    }

    /* Studio title */

    .studio-title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Dark-bgtab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution:2dppx) {
        .studio-title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/Dark-bgtab2x.jpg);
        }
    }

    .studio-title .title {
        font-size: 56px;
        letter-spacing: 1.07px;
        margin-bottom: 36px;
    }


    /* features */

    .features-list {
        gap: 62px 24px;
    }

    .list-item {
        width: calc((100% - 24px) / 2)
    }

    .list-title {
        text-align: left;
    }

    /* studio team */

    .team-list-title {
        text-align: center;
    }

    /* customers */

    .customers-list {
        gap: 72px 24px;
    }

    .customers-item {
        width: calc((100% - 48px) / 3);
    }

    /* basement */

    .wrap-basement {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline; 
    }

    .basement .link {
        justify-content: flex-start;
    }

    .social-text {
        margin: 0;
        margin-bottom: 16px;
    }

    .basement-left-side {
        margin-right: 24px;
    } 

    .basement-center-side {
    }

    .basement-form {
        flex-direction: row;
        gap: 24px;
    }

    
    .basement-input { 
        min-width: 264px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {

    .customers>.container {
        max-width: 582px;
    }

    .address-list>.studio-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 12px;
    }

    .head-navigation .link {
        padding: 24px 0;
    }


    .studio-list .address-list-link {
        padding: 6px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.04em;
    }

    /* basement */

    .wrap-basement {
        max-width: 582px;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    /* Studio title */

    .studio-title {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution:2dppx) {
        .studio-title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/people-office2x.jpg);
        }
    }

    .studio-title .title {
        margin-bottom: 48px;
    }

    /* features */

    .list-item {
        width: calc((100% - (3 * 24px)) / 4)
    }

    .features-item-top {
        display: flex;
    }

    .list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .list-text {
        font-weight: 400;
        line-height: 1.5;
    }

    /* studio doing */

    .studio-doing {
        display: block;
    }

    /* studio team */

    .studio-team {
        padding: 120px 0
    }

    .studio-team-list {
        gap: 24px;
    }

    .team-list {
        width: calc((100% - 3 * 24px) / 4);
    }

    /* customers */

    .customers-list {
        gap: 24px;
    }

    .customers-item {
        width: calc((100% - (5 * 24px)) / 6);
    }

    /* basement */

    .basement-left-side {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .basement-center-side {
        margin-right: 80px;
        margin-bottom: 0;
    }

}