:root {
    --primary-font: 'Roboto', sans-serif;
    --primary-font-color: #434455;
    --primary-background-color: #FCFCFC;
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --white-background-color: #FFFFFF;

}


body {
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    background-color: var(--white-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

button {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


/* header */

.head-navigation {
    background: var(--white-background-color, #FFF);
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.head-container {
    display: flex;
    align-items: center;
}


.head-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.head-logo {
    margin-right: 76px;
}

.logo-web {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
}

.studio-list-link {
    overflow: hidden;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    font-family: var(--primary-font);
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-list-link:hover,
.studio-list-link:focus {
    color: var(--pressed-state-color);
}

.head-navigation .link {
    padding: 24px 0;
}

.studio-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.address-list {
    font-style: normal;
    margin-left: auto;
}

.address-list-link {
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: right;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;

}

.address-list-link:hover,
.address-list-link:focus {
    color: var(--pressed-state-color);
    text-decoration: none;
}

.current {
    position: relative;
    color: var(--pressed-state-color);
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    top: 65px;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);
    color: #404bbf;
    border-radius: 2px;
}

.studio-list-item {
    padding: 23px 0;
    overflow: hidden;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-studio-item {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/* Studio title */

.studio-title {
    background-color: var(--dark-color);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.studio-title .title {
    color: var(--white-background-color);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
}

.studio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.studio-button {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary-brand-color);
    color: var(--white-background-color);
    border: none;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-button:hover,
.studio-button:focus {
    background-color: var(--pressed-state-color);
}

/* List feature */

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.list-item {
    width: calc((100% - 3 * 24px) / 4)
}

.features-item-top {
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    border-radius: 4px;
    border: none;
    margin-bottom: 8px;
}

.list-title {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-font-color);
}

/* studio doing */

.studio-doing {
    padding-bottom: 120px;
}

.studio-doing-item {
    width: calc((100% - 3 * 16px) / 3)
}


.subtitle {
    color: var(--dark-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.studio-doing .list {
    display: flex;
    gap: 24px;
}

/* studio team */

.studio-team {
    background-color: var(--light-color);
    padding: 120px 0
}

.team-list-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text {
    text-align: center;
}

.studio-team-list {
    display: flex;
    gap: 24px;

}

.studio-team-worker {
    padding: 32px 0
}

.team-list {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-item {}

.social-item-link {
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: var(--light-color);
}

.social-item-link:hover,
.social-item-link:focus {
    background-color: var(--pressed-state-color);
    border-radius: 50%;

}

/* portfolio filter */

.portfolio {
    padding: 96px 0 120px 0;
}

.filter-form {
    font-family: "Roboto", sans-serif;
    background-color: var(--light-color);
    color: var(--primary-brand-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    cursor: pointer;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-form:hover,
.filter-form:focus {
    background-color: var(--pressed-state-color);
    color: var(--white-background-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-item {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.filter-title {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.portfolio-list-text {}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    background: var(--white-background-color, #FFF);
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-cover-text {
    position: absolute;
    color: var(--light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    top: 0;
    background: var(--iris, #4D5AE5);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-link:hover .portfolio-cover-text,
.portfolio-link:focus .portfolio-cover-text {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* customers */

.customers {
    padding: 120px 0;
}

.customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}


.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: var(--subtle-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
    fill: var(--pressed-state-color);
    border-color: var(--pressed-state-color);
    color: var(--pressed-state-color);
    border-color: var(--pressed-state-color);
}



/* basement */

.basement {
    background-color: var(--modal-overlay-color);
    font-family: var(--primary-font);
    padding: 100px 0;
    display: flex;
}

.basement-text {
    color: var(--light-color);
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.basement .logo-web {
    color: var(--light-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase
}

.basement .link {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 16px;
}

.social-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 16px;
}

.wrap-basement {
    display: flex;
    align-items: baseline;
}

.basement-left-side {
    margin-right: 120px;
}

.basement-center-side {
    margin-right: 80px;
}

.basement-social-list {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-basement-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-basement-link:hover,
.social-basement-link:focus {
    background-color: var(--success-color);
}

.basement-right-side {}

.basement-form {
    display: flex;
    gap: 24px;
}

.basement-label {}

.basement-input {
    width: 264px;
    height: 40px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.basement-input::placeholder {
    color: #FFFFFF;
}

.subscribe-icon {
    margin-left: 16px;
}

.basement-subscribe-btn {
    min-width: 165px;
    padding: 8px 24px;
    background-color: var(--primary-brand-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.basement-subscribe-btn:hover,
.basement-subscribe-btn:focus {
    background-color: var(--pressed-state-color);
}

/* Modal */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    width: 408px;
    min-height: 584px;
    background-color: var(--primary-background-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(0);
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--accent-color);
    cursor: pointer;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #FFF;

}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--pressed-state-color);
    border: none;
}

.modal-titel {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--dark-color);
    text-align: center;
}

.modal-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    border-radius: 4px;
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--primary-brand-color);
}

.modal-input:focus+.modal-icon {
    fill: var(--primary-brand-color);
}

.modal-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: #8e8f99;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-field-check {
    margin-bottom: 24px;
}

.modal-input-wrap {
    position: relative;
}

.modal-icon {
    fill: var(--dark-color);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
    width: 100%;
    height: 120px;
    background-color: transparent;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-comment:focus {
    border-color: var(--primary-brand-color);
}

.modal-form-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    color: #fff;
    background-color: var(--primary-brand-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
    background-color: var(--pressed-state-color);
}

.modal-check-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    margin-right: 8px;
}

.modal-check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color, #8E8F99);
}

.modal-check-link {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--primary-brand-color);
    margin-left: 4px;
}


.modal-check:checked+.modal-check-text .modal-check-item {
    background-color: var(--pressed-state-color);
    border: none;
    fill: var(--light-color);
}